<div [@routerTransition]>
    <app-page-header [heading]="'Assessments'" [icon]="'fa-calendar'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-xs-12">
            <div class="card mb-12">
                <div class="card-header">
                    Today's Assessments
                </div>

                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ref#</th>
                                <th>Client Name</th>
                                <th>Claiment First Name</th>
                                <th>Claiment Last Name</th>
                                <th>Booking Date</th>
                                <th>Time</th>
                                <th>Trial date</th>
                                <th>Requested Report Date</th>
                                <th>Notes</th>
                                <th>ShowNoShow</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let assessment of assessments">
                                <td>{{assessment.Reference}}</td>
                                <td>{{assessment.ClientName}}</td>
                                <td>{{assessment.ClaimentFirstName}}</td>
                                <td>{{assessment.ClaimentLastName}}</td>
                                <td>{{assessment.BookingDate|date}}</td>
                                <td>{{assessment.Time}}</td>
                                <td>{{assessment.TrialDate|date}}</td>
                                <td>{{assessment.RequestedReportDate|date}}</td>
                                <td>{{assessment.Notes}}</td>
                                <td>{{assessment.ShowNoShow}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn mce-btn-small" (click)="open(content,this.assessment, false)">
                                                <span class="fa fa-hand-pointer-o"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Assessment Details</h4>
            <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ngb-tabset>
                <ngb-tab title="Details">
                    <ng-template ngbTabContent>
                        <form role="form">
                            <fieldset class="form-group">
                                <label for="notes">Notes</label>
                                <textarea name="notes" class="form-control" rows="3" placeholder="Enter text" [(ngModel)]="assessment.Notes"></textarea>
                                <!-- <input name="notes" class="form-control" placeholder="Enter text" [(ngModel)]="assessment.Notes"> -->
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="shownoshow">ShowNoShow</label>
                                <input type="checkbox" name="shownoshow" class="form-control" placeholder="Enter text" [(ngModel)]="assessment.ShowNoShow">
                            </fieldset>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Documents">
                    <ng-template ngbTabContent>
                        <app-documents [bookingId]="assessment.BookingId" (uploadClick)="uploadDocument($event)"></app-documents>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
            <button type="button" class="btn btn-secondary" (click)="saveAssessment() && c('Close click')">Save</button>
        </div>
    </ng-template>
</div>