<div [@routerTransition]>
    <app-page-header [heading]="'Bookings'" [icon]="'fa-calendar'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-xs-12">
            <div class="card mb-12">
                <div class="card-header">
                    Upcoming bookings
                    <button class="btn btn-primary pull-right" (click)="open(content, this.booking, true)">New Booking</button>
                </div>

                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Client Name</th>
                                <th>Claiment First Name</th>
                                <th>Claiment Last Name</th>
                                <th>Booking date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let booking of _bookings" (click)="open(content,this.booking, false)">
                                <td>{{booking.ClientName}}</td>
                                <td>{{booking.ClaimentFirstName}}</td>
                                <td>{{booking.ClaimentLastName}}</td>
                                <td>{{booking.BookingDate}}</td>
                                <td>{{booking.Time}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Booking Details</h4>
            <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form role="form">
                <fieldset class="form-group">
                    <label for="clientname">Client Name</label>
                    <input name="clientname" class="form-control" placeholder="Enter text" [(ngModel)]="booking.ClientName">
                </fieldset>
                <fieldset class="form-group">
                    <label for="claimentfirstname">Claiment First Name</label>
                    <input name="claimentfirstname" class="form-control" placeholder="Enter text" [(ngModel)]="booking.ClaimentFirstName">
                </fieldset>
                <fieldset class="form-group">
                    <label for="claimentlastname">Claiment Last Name</label>
                    <input name="claimentlastname" class="form-control" placeholder="Enter text" [(ngModel)]="booking.ClaimentLastName">
                </fieldset>
                <fieldset class="form-group">
                    <label for="bookingdate">Booking Date</label>
                    <!-- <input name="bookingdate" class="form-control" placeholder="Enter text" [(ngModel)]="booking.BookingDate"> -->

                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="bookingdate" [(ngModel)]="booking.Date" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-addon" (click)="d.toggle()">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label for="bookingtime">Booking Time</label>
                    <ngb-timepicker [(ngModel)]="booking.BookingTime" name="bookingtime"></ngb-timepicker>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
            <button type="button" class="btn btn-secondary" (click)="saveBooking()">Save</button>
        </div>
    </ng-template>
</div>