<div [@routerTransition]>
    <app-page-header [heading]="'Bookings'" [icon]="'fa-calendar'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-xs-12">
            <div class="card mb-12">
                <div class="card-header">
                    Upcoming bookings
                    <button class="btn btn-primary pull-right" (click)="open(content, this.booking, true)">New Booking</button>
                </div>

                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Ref#</th>
                                <th>Client Name</th>
                                <th>Claiment First Name</th>
                                <th>Claiment Last Name</th>
                                <th>Booking date</th>
                                <th>Time</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let booking of _bookings">
                                <td>{{booking.Reference}}</td>
                                <td>{{booking.ClientName}}</td>
                                <td>{{booking.ClaimentFirstName}}</td>
                                <td>{{booking.ClaimentLastName}}</td>
                                <td>{{booking.BookingDate|date}}</td>
                                <td>{{booking.Time}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn mce-btn-small" (click)="open(content,this.booking, false)">
                                            <span class="fa fa-hand-pointer-o"></span>
                                        </button>
                                        <button class="btn mce-btn-small" (click)="deleteBooking(this.booking.Id)">
                                            <span class="fa fa-remove"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Booking Details</h4>
            <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ngb-tabset>
                <ngb-tab title="Booking">
                    <ng-template ngbTabContent>
                        <form role="form">
                            <fieldset class="form-group">
                                <label for="clientname">Client Name/Attorney</label>
                                <input name="clientname" class="form-control" placeholder="Enter client name" [(ngModel)]="booking.ClientName">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="claimentfirstname">Claiment First Name</label>
                                <input name="claimentfirstname" class="form-control" placeholder="Enter claiment first name" [(ngModel)]="booking.ClaimentFirstName">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="claimentlastname">Claiment Last Name</label>
                                <input name="claimentlastname" class="form-control" placeholder="Enter claiment last name" [(ngModel)]="booking.ClaimentLastName">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="bookingdate">Booking Date</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="bookingdate" [(ngModel)]="booking.Date" ngbDatepicker #b="ngbDatepicker">
                                    <div class="input-group-addon" (click)="b.toggle()">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <fieldset class="form-group col col-xl-6 col-lg-6 col-xs-6">
                                    <label for="bookingtime">Booking Time</label>
                                    <ngb-timepicker [(ngModel)]="booking.BookingTime" name="bookingtime"></ngb-timepicker>
                                </fieldset>
                                <fieldset class="form-group col col-xl-6 col-lg-6 col-xs-6">
                                    <label for="bookingreference">Reference</label>
                                    <input name="bookingreference" class="form-control" placeholder="Enter Booking Reference" [(ngModel)]="booking.Reference">
                                </fieldset>

                            </div>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Attorney">
                    <ng-template ngbTabContent>
                        <form role="form">
                            <fieldset class="form-group">
                                <label for="contactperson">Contact Person</label>
                                <input name="contactperson" class="form-control" placeholder="Name of contact person" [(ngModel)]="attorney.ContactPerson">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="contactnumber">Phone Number</label>
                                <input name="contactnumber" class="form-control" placeholder="Phone number of contact person" [(ngModel)]="attorney.PhoneNumber">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="contactemail">Email</label>
                                <input name="contactemail" class="form-control" placeholder="Email of contact person" [(ngModel)]="attorney.Email">
                            </fieldset>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="more">
                    <ng-template ngbTabContent>
                        <form role="form">
                            <fieldset class="form-group">
                                <label for="trialdate">Trial Date</label>
                                <!-- <input name="trialdate" class="form-control" placeholder="Trial date" [(ngModel)]="booking.ClientName"> -->
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="trialdate" [(ngModel)]="booking.TDate" ngbDatepicker #d="ngbDatepicker">
                                    <div class="input-group-addon" (click)="d.toggle()">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="requestedreportdate">Requested Report Date</label>
                                <!-- <input name="requestedreportdate" class="form-control" placeholder="Report Date" [(ngModel)]="booking.ClientName"> -->
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="requestedreportdate" [(ngModel)]="booking.RDate" ngbDatepicker #e="ngbDatepicker">
                                    <div class="input-group-addon" (click)="e.toggle()">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Documents" *ngIf="booking.Id > 0">
                    <ng-template ngbTabContent>
                        <app-documents [bookingId]="booking.Id"></app-documents>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
            <button type="button" class="btn btn-secondary" (click)="saveBooking()">Save</button>
        </div>
    </ng-template>
</div>