<div [@routerTransition]>
    <app-page-header [heading]="'Bookings'" [icon]="'fa-calendar'"></app-page-header>
    <div class="row">
        <div class="col col-xl-6 col-lg-12 col-xs-12">
            <div class="card mb-3">
                <div class="card-header">
                    Upcoming bookings
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Client Name</th>
                                <th>Claiment First Name</th>
                                <th>Claiment Last Name</th>
                                <th>Booking date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let booking of _bookings">
                                <td>{{booking.ClientName}}</td>
                                <td>{{booking.ClaimentFirstName}}</td>
                                <td>{{booking.ClaimentLastName}}</td>
                                <td>{{booking.BookingDate}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>

</div>