<div [@routerTransition]>
    <app-page-header [heading]="'Invoice'" [icon]="'fa-calendar'"></app-page-header>
    <div class="container">
        <div class="row" *ngIf="invoice != undefined">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="text-center">
                    <img src="assets/images/vuyonako.png" height="200" alt="invoice icon">
                    <br/>
                    <span>Marble Towers, 3rd Floor, Cnr Von Weilligh Street Johannesburg</span>
                    <span>Tel: 011 0754973</span>
                    <span>Email: ip@Vuyonakoconsulting.co.za</span>
                    <span>Fax: 0866025078</span>
                    <br/>
                    <br/>
                    <span><h2>TAX INVOICE</h2></span>
                </div>
            </div>
            <div class="col-md-4"></div>

            <!-- invoice number row -->
            <div class="row">
                <div class="col-md-3">
                    <span class="pull-left"><strong>INVOICE NO:</strong></span>
                </div>
                <div class="col-md-9">
                    <span class="pull-left"> {{invoice.BookingRef}} </span>
                </div>
                <div class="col-md-3">
                    <span class="pull-left"><strong>DATE:</strong></span>
                </div>
                <div class="col-md-9">
                    <span class="pull-left">{{today|date:'dd/MM/yyyy'}}</span>
                </div>

                <!-- start from part -->
                <div class="col-md-3">
                    <span class="pull-left"><strong>FROM:</strong></span>
                </div>
                <div class="col-md-9">
                    <span class="pull-left">{{invoice.Qualification}}</span>
                </div>

                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <span class="pull-left">{{invoice.QualificationHolder}}</span>
                </div>

                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <strong><span class="pull-left">VENDOR NO: {{invoice.VendorNumber}}</span></strong>
                </div>

                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <span class="pull-left">HPCSA REG NO: {{invoice.HpcsaRegistrationNumber}}</span>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <span class="pull-left">VAT REG NO: {{invoice.BusinessVatNumber}}</span>
                </div>
                <!-- end from part -->

                <!-- start attorney part -->
                <div class="col-md-3">
                    <span class="pull-left"><strong>REFFERING ATTORNEYS:</strong></span>
                </div>
                <div class="col-md-9">
                    <span class="pull-left"><strong>{{invoice.ClientName}}</strong></span>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <span class="pull-left"><strong>{{invoice.Address}}</strong></span>
                </div>

                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <span class="pull-left"><strong>{{invoice.City}} {{invoice.PostalCode}}</strong></span>
                </div>
                <!-- end attorney part -->

                <!-- start attention part -->
                <br/><br/>
                <div class="col-md-3">
                    <span class="pull-left"><strong>ATTENTION:</strong></span>
                </div>
                <div class="col-md-9">
                    <span class="pull-left"><strong>ROAD ACCIDENT FUND</strong></span>
                </div>
                <!-- end attention part -->

                <!-- start invoice details part -->
                <br/><br/>
                <div class="row">
                    <table class="table table-bordered">
                        <th>ITEM DESCRIPTION</th>
                        <th>AMOUNT DUE</th>

                        <tbody>
                            <tr>
                                <td>
                                    <span><strong><ins>INVOICE CONSISTS OF:</ins></strong></span> <br/>
                                    <ol>
                                        <li>Consultation </li>
                                        <li>Assessment</li>
                                        <li>Document, reading and organising data</li>
                                        <li>Report compilation </li>
                                        <li>Finalisation and submission</li>
                                    </ol>
                                    <br/>
                                    <span><strong><ins>PATIENT DETAILS:</ins></strong></span> <br/>
                                    <span><strong>NAME OF PATIENT: </strong> {{invoice.ClaimentFirstName}} {{invoice.ClaimentLastName}}</span><br/>
                                    <span><strong>ID NUMBER: </strong>{{invoice.ClaimentIdNumber}}</span><br/>
                                    <span><strong>ASSESSMENT DATE: </strong>{{invoice.BookingDate|date:'dd MMMM yyyy'}}</span><br/>
                                    <span><strong>RAF CLAIM NUMBER: </strong>{{invoice.RafReference}}</span><br/>
                                    <span><strong>LINK NUMBER: </strong>{{invoice.LinkNumber}}</span><br/>

                                    <br/>
                                    <span><strong><ins>BANKING DETAILS:</ins></strong></span> <br/>
                                    <span><strong>BANK: </strong> Nedbank</span><br/>
                                    <span><strong>Account holder: </strong>Vuyo Nako Consulting</span><br/>
                                    <span><strong>Account no: </strong>1066259518</span><br/>
                                    <span><strong>Branch code: </strong>193305</span><br/>
                                    <span><strong>Account Type: </strong>Business Account</span><br/>
                                    <span><strong>Email Remittance to: </strong>vuyo@telkomsa.net</span><br/>
                                </td>
                                <td>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Nett</td>
                                                <td>R 10,224.11</td>
                                            </tr>
                                            <tr>
                                                <td>VAT 14%</td>
                                                <td>R 1,431.38</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Total</strong></td>
                                                <td><strong>R 11,655.49</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- end invoice details part -->


            </div>
        </div>
    </div>
</div>