<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/bookings']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-calendar"></i>&nbsp;{{ 'Bookings' | translate }}
        </a>
        <a [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-users"></i>&nbsp;{{ 'Users' | translate }}
        </a>
        <a [routerLink]="['/assessments']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-check-square-o"></i>&nbsp;{{ 'Assessments' | translate }}
        </a>
        <a [routerLink]="['/reports']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-text-o"></i>&nbsp;{{ 'Reports' | translate }}
        </a>
        <a [routerLink]="['/invoices']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-money"></i>&nbsp;{{ 'Invoices' | translate }}
        </a>
    </ul>
</nav>