<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="bookingCount" [label]="'booking(s) in the next 30 days!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="todayBookingCount" [label]="'booking(s) scheduled for today!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="bookingsWithoutAssessmentCoun" [label]="'booking(s) pending assessment!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="assessmentsWithoutReports" [label]="'report(s) that need to be started!'"></app-stat>
        </div>
    </div>
    