<div [@routerTransition]>
    <app-page-header [heading]="'Invoices'" [icon]="'fa-calendar'"></app-page-header>
    <div class="row" *ngIf="showInvoice">


        <div class="col col-xl-12 col-lg-12 col-xs-12">
            <div class="card mb-12">
                <div class="card-header">
                    Invoice
                </div>

                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Date</th>
                                <th>Total</th>
                                <th>Client Name</th>
                                <th>Claiment First Name</th>
                                <th>Claiment Last Name</th>
                                <th>ref#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let invoice of invoices">
                                <td>{{invoice.Number}}</td>
                                <td>{{invoice.InvoiceDate}}</td>
                                <td>{{invoice.Total}}</td>
                                <td>{{invoice.ClientName}}</td>
                                <td>{{invoice.ClaimentFirstName}}</td>
                                <td>{{invoice.ClaimentLastName}}</td>
                                <td>{{invoice.BookingRef}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn mce-btn-small" (click)="open(content,this.invoice, false)">
                                                <span class="fa fa-hand-pointer-o"></span>
                                        </button>
                                        <button class="btn mce-btn-small" (click)="printInvoice(this.invoice.Id)">
                                            <span class="fa fa-print"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>


    <ng-template #content let-c="close" let-d="dismiss" width="1000">
        <div class="modal-header">
            <h4 class="modal-title">Invoice: {{invoice.Number}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- <div class="modal-body">
             <p>
                  <b>{{invoice.BusinessName}}</b><br>
                  Reg No:{{invoice.BusinessRegistrationNumber}}<br>
                  Vat No:{{BusinessVatNumber}}
             </p>
             <p>
                    <b>{{invoice.ClientName}}</b><br>
                    
               </p>
        </div> -->

        <div class="modal-body">
            <ngb-tabset>
                <ngb-tab title="Invoice Details">
                    <ng-template ngbTabContent>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary" (click)="addItem()">Add Item</button>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>QTY</th>
                                        <th>ITEM</th>
                                        <th>DESCRIPTION</th>
                                        <th>PRICE</th>
                                        <th>SUBTOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let invoiceItem of invoiceItems">
                                        <td class="text-center">
                                            <input type="number" name="quantity" class="form-control" placeholder="QTY" [(ngModel)]="invoiceItem.Quantity">
                                        </td>
                                        <td>
                                            <input type="text" name="item" class="form-control" placeholder="Enter text" [(ngModel)]="invoiceItem.Name">
                                        </td>
                                        <td>
                                            <textarea name="description" class="form-control" rows="1" placeholder="Description" [(ngModel)]="invoiceItem.Description"></textarea>
                                        </td>
                                        <td>
                                            <input type="number" name="price" class="form-control" placeholder="0.00" [(ngModel)]="invoiceItem.Price">
                                        </td>
                                        <td>
                                            R {{getSub(invoiceItem)}}
                                        </td>
                                        <td>
                                            <!-- <div class="btn-group">
                                                <button class="btn mce-btn-small" (click)="deleteInvoiceItem(invoiceItem)">
                                                                <span class="fa fa-remove"></span>
                                                            </button>
                                            </div> -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">Total</td>
                                        <td><strong>{{this.invoice.Total}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
            <button type="button" class="btn btn-secondary" (click)="saveInvoice()">Calculate</button>
        </div>
    </ng-template>
</div>