<div [@routerTransition]>
    <app-page-header [heading]="'Users'" [icon]="'fa-calendar'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-xs-12">
            <div class="card mb-12">
                <div class="card-header">
                    Active System Users
                    <button class="btn btn-primary pull-right" (click)="open(content, this.user, true)">New User</button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User Id</th>
                                <th>Full Name</th>
                                <th>Email/Username</th>
                                <th>Password</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of _users" (click)="open(content,this.user, false)">
                                <td>{{user.Id}}</td>
                                <td>{{user.FullName}}</td>
                                <td>{{user.Email}}</td>
                                <td>{{user.Password}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">User Details</h4>
            <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form role="form">
                <fieldset class="form-group">
                    <label for="fullname">Full Name</label>
                    <input name="fullname" class="form-control" placeholder="Enter text" [(ngModel)]="user.FullName">
                </fieldset>
                <fieldset class="form-group">
                    <label for="email">Email/Username</label>
                    <div class="form-group input-group">
                        <span class="input-group-addon">@</span>
                        <input type="email" name="email" class="form-control" placeholder="Enter text" [(ngModel)]="user.Email">
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">Password</label>
                    <input name="password" class="form-control" placeholder="Enter text" [(ngModel)]="user.Password">
                </fieldset>
             </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
            <button type="button" class="btn btn-secondary" (click)="saveUser() && c('Close click')">Save</button>
        </div>
    </ng-template>

</div>